#navlist {
    background-color: rgb(8, 43, 8);
            position: absolute;
            width: 100%;
            padding-bottom: 2%;
            padding-left: 8%;
            
           
            
   
}


   
/* styling navlist anchor element */

.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;

}
 
.search{
    margin:7px;

}
 
.search button{
    background-color: #0074D9;
    color: #f2f2f2;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
#navlist a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    padding-top: 2%;

    

}
.navlist-right{
    float:right;
    padding-top: 2%;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
    background-color: #ddd;
    color: black;
}

#topimages {
    height: fit-content;
    height: 10%;
   
}

.w3-center{
  text-align:center!important
}
.w3-bar-block.w3-center .w3-bar-item{
  text-align:center
}
.w3-center .w3-bar{
  display:inline-block;width:auto
}
.w3-centered tr td{
  text-align:center
}
.w3-centered tr th,.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th
{
padding:8px 8px;
display:table-cell;
text-align:left;
vertical-align:top
}
.w3-container:after,.w3-container:before,
.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,
.w3-row-padding:after,.w3-row-padding:before,.w3-cell-row:before,
.w3-cell-row:after,
.w3-topnav:after,.w3-topnav:before,
.w3-clear:after,.w3-clear:before,.w3-btn-group:before,.w3-btn-group:after,
.w3-btn-bar:before,.w3-btn-bar:after,.w3-bar:before,.w3-bar:after
{
content:"";
display:table;
clear:both
}
.w3-content
{
max-width:980px;
margin:auto
}
.w3-container
{
padding:0.01em 16px
}
.w3-wide
{
letter-spacing:4px
}
.w3-wide{
font-family:"Segoe UI",Arial,sans-serif
}
.w3-opacity,.w3-hover-opacity:hover{
opacity:0.60;
-webkit-backface-visibility:hidden
}
.w3-opacity-off,.w3-hover-opacity-off:hover
{
opacity:1;
-webkit-backface-visibility:hidden
}
.w3-opacity-max
{
opacity:0.25;
-webkit-backface-visibility:hidden
}
.w3-opacity-min
{
opacity:0.75;-webkit-backface-visibility:hidden
}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover
{
color:#000!important;
background-color:#f1f1f1!important
}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col
{
padding:0 8px
}
.w3-xlarge
{
font-size:24px!important
}
.w3-xxlarge
{
font-size:36px!important
}
.w3-black,.w3-hover-black:hover
{
color:#fff!important;
background-color:#000!important
}
.w3-padding-tiny
{
padding:2px 4px!important
}
.w3-padding-small
{
padding:4px 8px!important
}
.w3-padding-medium,.w3-padding,.w3-form
{
padding:8px 16px!important
}
.w3-padding-large{
padding:12px 24px!important
}
.w3-padding-xlarge
{
padding:16px 32px!important
}
.w3-padding-xxlarge{
padding:24px 48px!important
}
.w3-padding-jumbo
{
padding:32px 64px!important
}
.w3-padding-4
{
padding-top:4px!important
;padding-bottom:4px!important
}
.w3-padding-8
{
padding-top:8px!important;
padding-bottom:8px!important
}
.w3-padding-12
{
padding-top:12px!important;
padding-bottom:12px!important
}
.w3-padding-16
{
padding-top:16px!important;
padding-bottom:16px!important
}
.w3-padding-24
{
padding-top:24px!important;
padding-bottom:24px!important
}
.w3-padding-32
{
padding-top:32px!important;
padding-bottom:32px!important
}
.w3-padding-48
{
padding-top:48px!important;
padding-bottom:48px!important
}
.w3-padding-64
{
padding-top:64px!important;padding-bottom:64px!important
}
.w3-padding-128
{
padding-top:128px!important;padding-bottom:128px!important
}
.w3-padding-0
{
padding:0!important
}
.w3-padding-top
{
padding-top:8px!important
}
.w3-padding-bottom
{
padding-bottom:8px!important
}
.w3-padding-left
{
padding-left:16px!important
}
.w3-padding-right
{
padding-right:16px!important
}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
img{border-style:none}svg:not(:root){overflow:hidden}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}

dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}